.jd__icon {
  display: block;
  width: 16px;
  height: 16px;
}

.jd__input {
  height: 48px;
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.jd__input input {
  height: 100%;
  width: 100%;
  padding: 0;
  outline: none;
  border: none;
  border-radius: inherit;
  background: inherit;
  font-size: 14px;
  font-weight: 400;
}

.jd__input input::placeholder {
  color: var(--color-grey);
  font-size: 14px;
  font-weight: 400;
}

.jd__link {
  color: var(--color-green-dark-strong);
  font-weight: 700;
}

.jd__link:hover {
  color: #000;
}

.jd__link:visited {
  color: var(--color-grey);
}

.jd__desktop {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 33%;
  text-align: center;
}

.jd__desktop span {
  font-size: 20px;
}
