.jobs {
  position: relative;
}

.jobs__header {
  padding: 0 20px 10px 20px;
  text-align: center;
  border-bottom-right-radius: 50px;
}

.jobs__header::before {
  content: '';
  height: 260px;
  width: 100%;
  position: absolute;
  top: calc(var(--height-header) * -1);
  left: 0;
  right: 0;
  background: var(--color-green-dark);
  border-radius: inherit;
}

.jobs__header p {
  margin: 0;
  position: relative;
  color: var(--color-grey-dark);
}

.jobs__header__title {
  margin-top: 30px;
  margin-bottom: 0;
  position: relative;
  text-align: left;
}

.jobs__container {
  list-style: none;
  width: 100%;
  margin: 0;
  margin-bottom: calc(var(--height-tabs) + 20px);
  padding: 30px 20px 10px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  background: transparent;
  overflow-y: scroll;
}

.jobs__container > p {
  margin: auto;
}

.jobs__container::-webkit-scrollbar {
  /* display: none; */
}

.jobs__container__card {
  user-select: none;
  width: 320px;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px #ededed;
  background: #fff;
  transition: 0.25s ease-in 0s transform;
}

@media screen and (min-width: 767px) {
  .jobs__container__card:hover {
    transform: scale(1.05);
  }
}

.jobs__container__card .card__section {
  margin-top: 10px;
}

.jobs__content__item.item__title h3 {
  margin: 0;
  margin-bottom: 10px;
}

.jobs__content__item.item__title .jd__icon {
  display: inline;
  margin: 0 0 -4px 5px;
}

.jobs__content__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}

.jobs__content__item:not(:first-child):not(:last-child) {
  margin-bottom: 5px;
}

.jobs__content__item .jd__icon {
  margin-top: -2px;
}

.jobs__content__item span {
  width: 100%;
  font-size: 14px;
}

.jobs__card__badges {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.jobs__badges__item {
  --padding-badge: 2px;
  width: max-content;
  height: calc(16px + var(--padding-badge));
  padding: var(--padding-badge) 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background: var(--color-green-dark-strong);
}

.jobs__badges__item span {
  color: #fff;
  font-size: 12px;
}

.jobs__container__card .jd__link {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.jobs__card__content {
  display: flex;
  justify-content: space-between;
}

.jobs__content__text {
  width: 80%;
}

.jobs__content__badges {
  width: 20%;
}

.jobs__content__badges div {
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
}

.jobs__content__badges .badge__new {
  background: var(--color-yellow);
}

.jobs__content__badges .badge__fast {
  background: #c3a6ff;
}

.jobs__content__badges .badge__money {
  background: #00a896;
}

.jobs__gotop {
  visibility: hidden;
  width: 40px;
  height: 40px;
  margin: 0 8px 8px 0;
  position: fixed;
  bottom: 0;
  right: 0;
  background: var(--color-green-dark);
  border: none;
  border-radius: 50%;
  transition: bottom 0.8s ease-in;
  animation: 1s ease 0s infinite normal none running jump;
}

.jobs__gotop.visible {
  visibility: visible;
  bottom: var(--height-tabs);
}

.jobs__gotop .jd__icon {
  margin: 0 auto;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
