.tabs {
  user-select: none;
  height: var(--height-tabs);
  width: auto;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0px -4px 20px -14px #000;
  z-index: 1002;
}

.tabs__container {
  list-style: none;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs__container__item {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
}

.tabs__container__item span {
  font-size: 12px;
}

.tabs__container__item.active {
  background: var(--color-green-dark);
}

.tabs__container__item.active span {
  font-weight: 700;
}
