@font-face {
  src: url('/static/fonts/ProductSansBold.ttf') format('truetype');
  font-family: 'ProductSans';
  font-weight: 700;
}

@font-face {
  src: url('/static/fonts/ProductSansRegular.ttf') format('truetype');
  font-family: 'ProductSans';
  font-weight: 400;
}

body * {
  font-family: 'ProductSans';
}

h2 {
  font-size: 25px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

p,
span,
strong,
a,
b {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
