.search {
  padding: 20px;
  position: sticky;
  top: 0;
  border-bottom-right-radius: 50px;
  background: var(--color-green-dark);
  z-index: 1002;
}

.search__input {
  background: #fff;
}

.search__input input {
  width: calc(100% - 20% - 35px);
}

.search__icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--color-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__icon img {
  height: 12px;
  width: 12px;
}
